@media all and (max-width: 560px) {
  .narrow-hide {
    display:none;
  }
}

@media all and (max-width: 560px) {
  .ui-responsive {
    padding-left:0px !important;
    padding-right:0px !important;
  }
}

.ui-grid-a .ui-block-a {
  padding-left: 40px;
  padding-right: 40px;
}

.ui-grid-a .ui-block-b {
  padding-left: 40px;
  padding-right: 40px;
}

.jqm-header {
  background: #fff;
  border-top: 3px solid #F4C12D;
  border-bottom: 2px solid #9E0E0E;
  color: #777;
}

.breadcrumbs {
  color: #990101;
  padding-left: 10px;
}

.ui-link { 
  color: black !important; 
}

.page-dialog-heading {
  margin-top:5px;
  text-align:left;
  color:#990000;
  font-weight: 800;
  font-family: 'Open Sans', sans-serif;
}

.rowpadding {
  padding-left:10px;
  padding-right:20px;
}
